In [3]:
from datahandles import MetaDatasetBuilder

In [5]:
meta_data = MetaDatasetBuilder(data_root="./data",
                               train_datasets=["calhousing"],
                               val_datasets=["income"],
                               test_datasets=["credit_risk"],
                               train_size=100,
                               val_size=100,
                               test_size=2000,
                               train_permutation=[],
                               val_permutation=[],
                               test_permutation=[],
                               train_balance=True,
                               val_balance=False,
                               test_balance=False,
                               n_shots=5,
                               n_queries=3,
                               max_n_features=103,
                               shuffle=True,
                               queries_same_as_shots=False,
                               debug=True,
                               shots_with_labels={"train": True, "val": True, "test": False}
                               )

Split: train, number of data point: {'calhousing': 100}, balanced: True
Total number of datapoints: 100
Split: val, number of data point: {'income': 100}, balanced: False
Total number of datapoints: 100
Split: test, number of data point: {'credit_risk': 2000}, balanced: False
Total number of datapoints: 2000

In [6]:
datasets = meta_data.get_datasets()

In [13]:
train_ds = datasets["train"]

In [14]:
print(train_ds[7, True]["shots"])

Example 0: The housing median age is 33.0. The median income is 4.0529. The latitude is 34.12. The number of households is 386.0. The longitude is -117.9. The total number of bedrooms is 361.0. The total rooms is 1555.0. The population is 1571.0. Is this house block valuable? Yes or no? The answer is no.

Example 1: The housing median age is 28.0. The median income is 1.9026. The latitude is 33.92. The number of households is 930.0. The longitude is -118.21. The total number of bedrooms is 1003.0. The total rooms is 2949.0. The population is 4551.0. Is this house block valuable? Yes or no? The answer is no.

Example 2: The housing median age is 34.0. The median income is 5.8411. The latitude is 34.47. The number of households is 502.0. The longitude is -119.72. The total number of bedrooms is 533.0. The total rooms is 3262.0. The population is 1265.0. Is this house block valuable? Yes or no? The answer is yes.

Example 3: The housing median age is 35.0. The median income is 6.2028. The latitude is 33.72. The number of households is 441.0. The longitude is -118.3. The total number of bedrooms is 447.0. The total rooms is 2790.0. The population is 1167.0. Is this house block valuable? Yes or no? The answer is yes.

Example 4: The housing median age is 30.0. The median income is 1.9929. The latitude is 33.98. The number of households is 955.0. The longitude is -118.23. The total number of bedrooms is 959.0. The total rooms is 2562.0. The population is 3909.0. Is this house block valuable? Yes or no? The answer is no.

In [7]:
test_ds = datasets["test"]

In [10]:
print(test_ds[6]['shots'])

Example 0: The age is 26. The income is 95672. The loan amount is 161213. The credit score is 802. The months employed is 18. The number of credit lines is 3. The interest rate is 13.14. The loan term is 48. The DTI ratio is 0.13. The education is High School. The employment type is Part-time. The marital status is Single. Will this loan default? Yes or no?

Example 1: The age is 44. The income is 77969. The loan amount is 239997. The credit score is 492. The months employed is 48. The number of credit lines is 4. The interest rate is 8.22. The loan term is 48. The DTI ratio is 0.73. The education is Master's. The employment type is Self-employed. The marital status is Married. Will this loan default? Yes or no?

Example 2: The age is 59. The income is 45896. The loan amount is 244533. The credit score is 642. The months employed is 116. The number of credit lines is 1. The interest rate is 6.83. The loan term is 48. The DTI ratio is 0.13. The education is Bachelor's. The employment type is Full-time. The marital status is Married. Will this loan default? Yes or no?

Example 3: The age is 19. The income is 109070. The loan amount is 141073. The credit score is 504. The months employed is 65. The number of credit lines is 4. The interest rate is 3.48. The loan term is 48. The DTI ratio is 0.75. The education is PhD. The employment type is Unemployed. The marital status is Single. Will this loan default? Yes or no?

Example 4: The age is 22. The income is 85278. The loan amount is 198031. The credit score is 659. The months employed is 21. The number of credit lines is 2. The interest rate is 17.28. The loan term is 60. The DTI ratio is 0.27. The education is Bachelor's. The employment type is Full-time. The marital status is Married. Will this loan default? Yes or no?