In [1]:
import os
from pathlib import Path
import pandas as pd

from sklearn.datasets import load_diabetes

from datahandles import preprocess_numeric
from utils import Config

from tabllm import load_dataset, load_and_preprocess_dataset
from datasets import load_from_disk

import numpy as np

In [ ]:
ds_name = 'heart'
ds_raw = load_dataset(dataset_name=ds_name, data_dir=Path(f'./tabllm/data/datasets/{ds_name}'))
print(ds_raw)
print(ds_raw.columns)

In [ ]:
all_cols = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety_dict']
categorical = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety_dict']
numerical = list(set(all_cols) - set(categorical) - set(['label']))

print(categorical)
print(numerical)

In [ ]:
ds_name = 'income'
ds_raw = load_dataset(dataset_name=ds_name, data_dir=Path(f'./tabllm/data/datasets/{ds_name}'))
# print(ds_raw)
ds_txt = load_from_disk(f"tabllm/data/datasets_serialized/{ds_name}")
ds_txt = pd.DataFrame(ds_txt) # type: ignore
val_counts = ds_raw['label'].value_counts()
print(val_counts)
print('Max const. predictor acc:', max(val_counts)/sum(val_counts) * 100)

label
False    19694
True      6354
Name: count, dtype: int64
Max const. predictor acc: 75.60657248157248

In [8]:
ds_name = "income"
# ds = load_from_disk(f"tabllm/data/data_ser/{ds_name}")
ds = load_dataset(dataset_name=ds_name, data_dir=Path(f"./tabllm/data/datasets/{ds_name}"))
print(ds)

       age         workclass     education      marital_status  \
16465   39  Self-emp-not-inc          11th  Married-civ-spouse
5625    54  Self-emp-not-inc     Bachelors  Married-civ-spouse
30273   32           Private       HS-grad  Married-civ-spouse
3136    45  Self-emp-not-inc  Some-college       Never-married
4521    60           Private          10th  Married-civ-spouse
...    ...               ...           ...                 ...
32511   25         Local-gov     Bachelors       Never-married
5192    32           Private     Bachelors  Married-civ-spouse
12172   27           Private     Bachelors       Never-married
235     59         State-gov       HS-grad  Married-civ-spouse
29733   33           Private     Bachelors  Married-civ-spouse

              occupation   relationship                race     sex  \
16465   Transport-moving        Husband               White    Male
5625     Exec-managerial        Husband               White    Male
30273              Sales        Husband               White    Male
3136     Farming-fishing  Not-in-family               White    Male
4521   Handlers-cleaners        Husband               Black    Male
...                  ...            ...                 ...     ...
32511       Adm-clerical      Own-child               Black  Female
5192     Exec-managerial        Husband               White    Male
12172  Machine-op-inspct  Not-in-family  Asian-Pac-Islander    Male
235        Other-service        Husband               White    Male
29733       Adm-clerical        Husband               White    Male

       capital_gain  capital_loss  hours_per_week native_country  label
16465             0             0              40  United-States  False
5625              0             0              40  United-States   True
30273             0          1902              50  United-States   True
3136              0             0              50  United-States  False
4521              0             0              40  United-States  False
...             ...           ...             ...            ...    ...
32511             0             0              40  United-States  False
5192          15024             0              45  United-States   True
12172             0             0              40            NaN  False
235               0             0              40  United-States  False
29733             0          1902              45  United-States   True

[26048 rows x 13 columns]