In [2]:
from datasets import *

data = load_adult(save_dir="data/adult", n_features=5)

Downloading Adult dataset from OpenML...

/export/pasand/trans-hyper/datasets/adult.py:12: FutureWarning: ``download_all_files`` is experimental and is likely to break with new releases.
  dataset = openml.datasets.get_dataset(1590, download_data=True, download_all_files=True)

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'label'],
      dtype='object')
Saved dataset to data/adult

In [3]:
data['train']

         fnlwgt  capital-gain  capital-loss  label
0      1.207456     -0.144804     -0.217127  <=50K
1     -1.302522     -0.144804     -0.217127  <=50K
2      1.429088     -0.144804     -0.217127  <=50K
3      0.788613     -0.144804     -0.217127  <=50K
4     -0.141569     -0.144804     -0.217127  <=50K
...         ...           ...           ...    ...
34184 -1.488710     -0.144804     -0.217127   >50K
34185 -0.113246     -0.144804     -0.217127   >50K
34186 -0.376459     -0.144804     -0.217127   >50K
34187 -1.037908     -0.144804     -0.217127  <=50K
34188  0.634309     -0.144804     -0.217127   >50K

[34189 rows x 4 columns]